<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>929770029836-jsef8f7i2g6oik1m37jt1ia4s4qvetvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929770029836-jsef8f7i2g6oik1m37jt1ia4s4qvetvb</string>
	<key>API_KEY</key>
	<string>AIzaSyBjPzaDZctvTem5ngXTcxv0aNrRtoqsBZs</string>
	<key>GCM_SENDER_ID</key>
	<string>929770029836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sStreet.iStreet</string>
	<key>PROJECT_ID</key>
	<string>myhood-11c1e</string>
	<key>STORAGE_BUCKET</key>
	<string>myhood-11c1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:929770029836:ios:b0fee7b63cf892c4</string>
	<key>DATABASE_URL</key>
	<string>https://myhood-11c1e.firebaseio.com</string>
</dict>
</plist>
